/* CSS STYLE SHEET*/
/* BODY */
body {
    background-color: rgb(216, 248, 255);
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
/* HEADER */
h1 {
    font-size: 5rem;
    text-align: left;
    margin: auto;
}
header::after {
    content: "";
    clear: both;
    display: table;
}
header {
    color: white;
    background-color: rgb(15 30 61);
    padding: 1rem;
}
header p {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    font-size: large;
    word-spacing: 2px;
    padding-top: 1rem;
    margin-left: 26rem;
    margin-right: 4rem;
}
.myinfo p {
    padding-top: 0.5rem;
    text-align: left;
}
.icon {
    width: 80px;
    height: 80px;
}
.mypic {
    border-style: solid;
    border-width: 0.3rem; 
    border-color: white;
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 0;
    float: left;
    margin-left: 4rem;
}
/* ASIDE */

aside ul {
    display: flex;
    flex-wrap: nowrap;
    /*margin-left: 15rem;*/
}
aside li {
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
    padding: 0.5rem;
    margin-left: 7rem;
    margin-right: 7.3rem;
}
aside li:hover {
    border-style: none;
    background-color: rgb(138 139 139 / 80%);
}
aside a {
    /*padding-right: 90px;*/
    margin: 2rem;
    font-size: 30px;
    text-underline-offset: none;
    font-weight: bolder;
}
/* a */
aside a:hover{
    color: white;

}
a {
    color: #0f1e3d;
}
/*H2*/
h2 {
    text-decoration: underline;
}

/* SECTION */
.section {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
}
/*QUALIFICATION*/
.quali {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem; 
}
/* ARTICLE */
article {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem; 
}
/* SKILLS */
.skills {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem; 
}
/* FOOTER */
footer {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}